.offer {
	button {
		margin-bottom: 27px;
		width: 100%;
		height: 125px;
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		border: none;
		color: #6767bb;
		background: linear-gradient(273.4deg, #8affea -31.9%, rgba(255, 255, 255, 0) 37.48%),
			linear-gradient(94.07deg, #fff598 -27.82%, rgba(255, 246, 165, 0) 84.12%),
			linear-gradient(86.32deg, #6922ff -47.38%, #8e59fe -7.05%, rgba(174, 90, 255, 0) 48.77%),
			linear-gradient(267.44deg, #fb25ff -8.98%, rgba(255, 255, 255, 0) 59.93%), #ffcaed;
		box-shadow: 0px 7px 15px rgba(109, 108, 164, 0.25);
		border-radius: 55px;
		cursor: pointer;
	}
	@media screen and (max-width: 768px) {
		margin-top: 63px;
		button {
			height: 53px;
			margin: 13px 0;
			font-size: 24px;
			background:
				radial-gradient(77.11% 250.38% at 104.9% 217.46%, #8affea 0%, rgba(255, 255, 255, 0) 100%)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
				radial-gradient(121.82% 258.52% at 20.64% -53.08%, #fff598 0%, rgba(255, 246, 165, 0) 100%)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
				radial-gradient(87.74% 278.14% at -13.13% 230.05%, #8e59fe 0%, #6922ff 0.01%, rgba(174, 90, 255, 0) 100%)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
				radial-gradient(123.43% 411.56% at 129.75% -24.25%, #fb25ff 0%, rgba(255, 255, 255, 0) 100%)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
				#ffcaed;
		}
	}
}

.offer .cont {
	overflow: hidden;
	margin: 26px 0;
	border-radius: 30px;
	padding: 58px 0 130px 56px;
	position: relative;

	background: linear-gradient(287.53deg, #8affea -31.46%, rgba(255, 255, 255, 0) 24.97%),
		linear-gradient(110.75deg, #fff598 5.91%, rgba(255, 246, 165, 0) 93.76%),
		linear-gradient(71.1deg, #6922ff -43.67%, #8e59fe -11.36%, rgba(174, 90, 255, 0) 33.35%),
		linear-gradient(256.64deg, #fb25ff 11.47%, rgba(255, 255, 255, 0) 70.24%), #ffcaed;
	transition: 1s all ease;

	.ping {
		position: absolute;
		right: -70px;
		bottom: -100px;
	}

	@media screen and (max-width: 768px) {
		padding: 44px 7px 51px 7px;
		margin-bottom: 0;
		.ping {
			z-index: 0;
			bottom: -30px;
			right: -30px;
			width: 379px;
		}
	}

	@media screen and (max-width: 460px) {
		.ping {
			bottom: 10px;
		}
	}
}
.offer .left {
	max-width: 813px;

	h2 {
		margin-bottom: 25px;
		font-weight: 700;
		font-size: 96px;
		line-height: 120%;
		color: #6767bb;
	}
	.image_wrapper {
		width: 54px;
		height: 54px;
		position: relative;
		border-radius: 50%;
		background: #fff;
		display: grid;
		place-content: center;
	}
	.roket {
		position: absolute;
		top: -25px;
		left: -20px;
		width: 75px;
	}
	.table {
		width: 70%;
		margin: 0 auto;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 54px);
		row-gap: 20px;
	}

	.card {
		display: flex;
		column-gap: 19px;
	}
	p {
		background: linear-gradient(90.49deg, #ffffff -21.24%, rgba(255, 255, 255, 0.4) 126.23%);
		box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
		border-radius: 170px;
		height: 54px;
		display: grid;
		place-content: center;
		font-weight: 600;
		font-size: 21px;
		padding: 0 18px 0 22px;
		color: #6767bb;
	}
	@media screen and (max-width: 768px) {
		.grid {
			position: relative;
			z-index: 1;
			row-gap: 12px;
			grid-template-rows: repeat(3, auto);
		}
		h2 {
			font-size: 36px;
			margin-bottom: 160px;
		}
		.image_wrapper {
			display: none;
		}
		.card {
			display: flex;
		}
		p {
			height: auto;
			text-align: left;
			padding: 2px 13px;
			font-size: 12px;
			background: #ffffff;
			box-shadow: 0px 3.35917px 7.19823px rgba(0, 0, 0, 0.15);
		}
	}
}
