*,
a,
li,
div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #000;
}

.wrapper {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
}

body {
    background: #ffedfa;
}

:root {
    --purple: #6767bb;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: auto;
        padding: 0 15px;
    }
}
